@model IEnumerable<RetroVideoz.Models.CartLineItem.CartLineItemListed>

@{
    ViewBag.Title = "Index";
}

<h2>Orders</h2>

<p>
    @Html.ActionLink("Continue Shopping", "../Video/Index")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.CartID)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TotalQuantity)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TotalPrice)
    </td>
    @*<td>
            @Html.DisplayFor(modelItem => item.CartID)
        </td>*@
    <td>
        @Html.ActionLink("Delete", "Delete", new { id = item.CartItemID })
    </td>
</tr>
}

</table>
