@model IEnumerable<RetroVideoz.Models.CartLineItemListed>

@{
    ViewBag.Title = "Index";
}

<h2>Cart Items</h2>
<div class="table-responsive shopping-cart">
    <table class="table">
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.TotalQuantity)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="video-item">
                        <a class="video-thumb"><img src="https://pisces.bbystatic.com/image2/BestBuy_US/images/products/6474/6474743_so.jpg" width="160" height="180" /></a>
                        <div class="video-info">
                            <h4 class="video-title">
                                @Html.DisplayFor(modelItem => item.Title)
                            </h4>
                        </div>
                    </div>
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.TotalQuantity)
                </td>
                <td class="text-center text-lg text-medium">
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    <button class="btn btn-outline-secondary" type="button" id="b1">
                        @Html.ActionLink("Delete", "Delete", new { id = item.CartItemID })
                    </button>
                </td>
            </tr>
        }

    </table>
</div>
<div class="cartline-footer">
    <div class="column">
        <button class="btn btn-outline-secondary">@Html.ActionLink("Back to Videos", "../Video/Index")</button>
    </div>
</div>
<style>
    #b1{
        color: red;
    }
    .cartline-footer {
        display: table;
        width: 100%;
        padding: 10px 0;
        border-top: 1px solid #e1e7ec
    }



        .cartline-footer > .column {
            display: table-cell;
            padding: 5px 0;
            vertical-align: middle
        }

    .cartline-footer > .column:last-child {
        text-align: right
    }

        .cartline-footer > .column:last-child .btn {
            margin-right: 0;
            margin-left: 15px
        }

</style>