@model IEnumerable<RetroVideoz.Models.ReviewListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReviewID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewHeader)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StarRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAdded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Video)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ReviewID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReviewHeader)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StarRating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateAdded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VideoTitle)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReviewID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ReviewID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ReviewID })
        </td>
    </tr>
}

</table>
