@model RetroVideoz.Models.VideoDetail

@{
    ViewBag.Title = "Details";
}
@*<dt>
        @Html.DisplayNameFor(model => model.VideoID)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.VideoID)
    </dd>*@
@*<h2>Title</h2>*@
<br>
<br>
<br>
<div class="container bootdey">
    <div class="col-md-12">
        <section class="panel">
            <div class="row">
                <div class="panel-body">
                    <div class="col-md-6">
                        <div class="pro-img-details">
                            <img src="https://pisces.bbystatic.com/image2/BestBuy_US/images/products/6474/6474743_so.jpg" width="380" height="550" />
                        </div>
                    </div>
                    <div class="col-md-6 align-items-end">
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <h4 class="pro-d-title">
                            @Html.DisplayFor(model => model.Title)
                        </h4>
                        <p class="description">
                            @Html.DisplayFor(model => model.Description)
                        </p>
                        <div class="descriptiveItems">
                            <span>
                                <strong>@Html.DisplayNameFor(model => model.Year):</strong>
                                @Html.DisplayFor(model => model.Year)
                            </span> |
                            <span>
                                <strong>@Html.DisplayNameFor(model => model.Rating):</strong>
                                @Html.DisplayFor(model => model.Rating)
                            </span> |
                            <span>
                                <strong>@Html.DisplayNameFor(model => model.Genre):</strong>
                                @Html.DisplayFor(model => model.Genre)
                            </span> |
                            <span>
                                <strong>@Html.DisplayNameFor(model => model.Format):</strong>
                                @Html.DisplayFor(model => model.Format)
                            </span>
                        </div>
                        <div class="price">
                            <strong>@Html.DisplayNameFor(model => model.Price) : </strong>
                            <span>@Html.DisplayFor(model => model.Price)</span>
                        </div>
                        <p>
                            <button class="btn btn-outline-dark" type="button">
                                
                                @Html.ActionLink("Back to Videos", "Index")
                            </button>
                            <button class="btn btn-outline-warning" type="button">
                          
                                @Html.ActionLink("Write a Review", "../Review/Create", new { Model.VideoID })
                            </button>
                            <button class="btn btn-outline-warning" type="button">
                               
                                @Html.ActionLink("Add to Cart", "../CartLineItem/Create", new { Model.VideoID })
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<style>
    h4{
        font-size: 30px;
        margin-top: 0;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
   

    .descriptiveItems{
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        padding: 10px 0;
        margin: 15px 0;
        border-color:#edc236;
    }
    .description{
        font-size: 20px;

    }
        .descriptiveItems span {
            
            margin-bottom: 10px;
        }
        .descriptiveItems a, .price:hover {
            color: #edc236;
        }
    .btn-outline-dark {
        background-color: black;
    }
    .btn-outline-warning{
        background-color:#edc236;
    }
</style>